<!doctype html>
<html>
   <body>
      <h1>List of orders</h1>
      <table border = 1>
         <thead>
            <td>Order ID</td>
            <td>Date Opened</td>
            <td>Date Fulfilled</td>
            <td>Other</td>
            <td>Frequent Item ID</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["date_opened"]}}</td>
               <td>{{row["date_fulfilled"]}}</td>
               <td>{{row['other']}}</td>
               <td>{{row['frequent_item_id']}}</td>
            </tr>
         {% endfor %}
      </table>
      <br>
      <a href = "/">Go back to home page</a>
   </body>
</html>